<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Attendance</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Face Recognition Attendance System made by Akshat Sahuji(2022BCD0033)</h1>
    
    <button id="start-camera">Start Camera</button>
    <button id="stop-camera" disabled>Stop Camera</button>

    <br>
    <div>
        <img id="video-feed" src="" alt="Video Stream" style="display:none;">
    </div>
    <p id="attendance-message">Waiting for attendance...</p>

    <script src="../static/script.js"></script>
</body>
</html>


